# Int

Complete Number

Eg:
No of family members
--> 5,3,2

Eg:
No of Bank accounts
--> 1,3,2

In [2]:
5

5

In [3]:
type(5)

int

In [4]:
type(424)

int

# Float

Values in decimal format

Eg:
Weight
--> 54.330
Height
--> 5.3

In [5]:
54.330

54.33

In [6]:
type(54.330)

float

In [7]:
type(5.3)

float

# Complex Numbers

Vector values

In [8]:
10 + 5j

(10+5j)

In [9]:
type(10+5j)

complex

# String

In [10]:
'Hello'

'Hello'

In [11]:
"Hello Python"

'Hello Python'

In [12]:
"""This is my first line.
This is my second line.
This is my third line."""

'This is my first line.\nThis is my second line.\nThis is my third line.'

In [13]:
print("""This is my first line.
This is my second line.
This is my third line.""")

This is my first line.
This is my second line.
This is my third line.

In [14]:
# How to write down multiple line statement in python ?

In [15]:
type('Hello')

str

# Boolean

True False

In [16]:
10 < 5

False

In [17]:
5 > 1

True