In [1]:
'Hello' + 10

TypeError: can only concatenate str (not "int") to str

In [2]:
print(a)

NameError: name 'a' is not defined

In [3]:
'hello

SyntaxError: unterminated string literal (detected at line 1) (628875690.py, line 1)

In [4]:
for i in range(5):
print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (3695896917.py, line 2)

In [5]:
name = input('Enter your Name')
last_name = input('Last_name')
age = int(input('Enter Age'))
print(f'Your Name is {name} and last name is {last_name} and your age is {age}')

Enter your Name Vaibhav
Last_name Bhosale
Enter Age five

ValueError: invalid literal for int() with base 10: 'five'

In [7]:
error = "ValueError: invalid literal for int() with base 10: 'five'"

In [8]:
print(error)

ValueError: invalid literal for int() with base 10: 'five'

In [11]:
try:
    age = int(input('Enter your age in INT'))
    print(age * 5)
except Exception as e:
    print(e)

Enter your age in INT Five

invalid literal for int() with base 10: 'Five'

In [17]:
def square(a):
    try:
        print(a * a)
    except Exception as e:
        print(e)

In [18]:
square(4)

16

In [19]:
square('hjd')

can't multiply sequence by non-int of type 'str'

In [20]:
print('skjd' * 'sjdj')

TypeError: can't multiply sequence by non-int of type 'str'

In [22]:
try:
    a = 10
    b = 0
    print(a / b)
except Exception as e:
    print('Someting wrong in code')
    print(e)

Someting wrong in code
division by zero

In [21]:
10/0

ZeroDivisionError: division by zero